{% extends 'encuesta/base/base.html' %}
{% load static %}

{% block main %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-2">
            <img src="{% static 'img/logoSena.png' %}" class="img-fluid mt-3" alt="logo"> 
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <div class="alert alert-danger" role="alert">
                <h4>¡Link ha Expirado!</h4>
                <p>Lo sentimos, el link de la encuesta ha expirado. Por favor, contacta a un agente para obtener uno nuevo.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}