{% extends 'encuesta/base/base.html' %}
{% load static %}

{% block header %}
<header>
    <div class="header-bar py-1 mb-4">
        <div class="container text-light">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/logoSena-blanco.png' %}" class="logo-header" alt="logo">
                </div>
                <div class="col">
                    <h4 class="text-center pt-2">Encuesta - SENA</h4>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<div class="row ">
    <div class="offset-lg-2 col-lg-8">
        <h5 class="text-center fw-bold text-secondary">¡Tu opinión es importante!</h5>
        <h6 class="text-start text-justify">Evalúa nuestra atención frente al servicio o trámite solicitado y califica en una escala de 1 a 5, donde 5 es muy satisfecho y 1 es muy insatisfecho.</h6>
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="py-3">
                        <label for="dominioPersonaAtendio">
                            <strong>1. {{ pregunta_canal }}</strong>
                        </label>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dominioPersonaAtendio" id="dominioPersonaAtendio1" value="1" required>
                            <label class="form-check-label" for="dominioPersonaAtendio1">1 - Muy difícil</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dominioPersonaAtendio" id="dominioPersonaAtendio2" value="2">
                            <label class="form-check-label" for="dominioPersonaAtendio2">2 - Difícil</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dominioPersonaAtendio" id="dominioPersonaAtendio3" value="3">
                            <label class="form-check-label" for="dominioPersonaAtendio3">3 - Ni fácil - ni difícil</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dominioPersonaAtendio" id="dominioPersonaAtendio4" value="4">
                            <label class="form-check-label" for="dominioPersonaAtendio4">4 - Fácil</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dominioPersonaAtendio" id="dominioPersonaAtendio5" value="5">
                            <label class="form-check-label" for="dominioPersonaAtendio5">5 - Muy fácil</label>
                        </div>
                    </div>
                    <div class="py-3">
                        <label for="satisfaccionServicioRecibido">
                            <strong>2. ¿Qué tan clara fue la información suministrada para resolver su solicitud?</strong>
                        </label>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="satisfaccionServicioRecibido" id="satisfaccionServicioRecibido1" value="1" required>
                            <label class="form-check-label" for="satisfaccionServicioRecibido1">1 - Nada clara</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="satisfaccionServicioRecibido" id="satisfaccionServicioRecibido2" value="2">
                            <label class="form-check-label" for="satisfaccionServicioRecibido2">2 - Poco clara</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="satisfaccionServicioRecibido" id="satisfaccionServicioRecibido3" value="3">
                            <label class="form-check-label" for="satisfaccionServicioRecibido3">3 - Medianamente clara</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="satisfaccionServicioRecibido" id="satisfaccionServicioRecibido4" value="4">
                            <label class="form-check-label" for="satisfaccionServicioRecibido4">4 - Clara</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="satisfaccionServicioRecibido" id="satisfaccionServicioRecibido5" value="5">
                            <label class="form-check-label" for="satisfaccionServicioRecibido5">5 - Muy clara</label>
                        </div>
                    </div>  
                    <div class="py-3">
                        <label for="tiempoEsperaServicio">
                            <strong>3. ¿Cómo calificaría la calidad de la información suministrada para resolver su solicitud? </strong>
                        </label>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tiempoEsperaServicio" id="tiempoEsperaServicio1" value="1" required>
                            <label class="form-check-label" for="tiempoEsperaServicio1">1 - Muy baja</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tiempoEsperaServicio" id="tiempoEsperaServicio2" value="2">
                            <label class="form-check-label" for="tiempoEsperaServicio2">2 - Baja</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tiempoEsperaServicio" id="tiempoEsperaServicio3" value="3">
                            <label class="form-check-label" for="tiempoEsperaServicio3">3 - Aceptable</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tiempoEsperaServicio" id="tiempoEsperaServicio4" value="4">
                            <label class="form-check-label" for="tiempoEsperaServicio4">4 - Alta</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tiempoEsperaServicio" id="tiempoEsperaServicio5" value="5">
                            <label class="form-check-label" for="tiempoEsperaServicio5">5 - Muy alta</label>
                        </div>
                    </div>    
                    <div class="py-3">
                        <label for="recomendacionCanalAtencion">
                            <strong>4. ¿Cómo calificaría el tiempo de espera antes de ser atendido(a)?</strong>
                        </label>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="recomendacionCanalAtencion" id="recomendacionCanalAtencion1" value="1" required>
                            <label class="form-check-label" for="recomendacionCanalAtencion1">1 - Muy largo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="recomendacionCanalAtencion" id="recomendacionCanalAtencion2" value="2">
                            <label class="form-check-label" for="recomendacionCanalAtencion2">2 - Largo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="recomendacionCanalAtencion" id="recomendacionCanalAtencion3" value="3">
                            <label class="form-check-label" for="recomendacionCanalAtencion3">3 - Adecuado</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="recomendacionCanalAtencion" id="recomendacionCanalAtencion4" value="4">
                            <label class="form-check-label" for="recomendacionCanalAtencion4">4 - Corto</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="recomendacionCanalAtencion" id="recomendacionCanalAtencion5" value="5">
                            <label class="form-check-label" for="recomendacionCanalAtencion5">5 - Muy corto</label>
                        </div>
                    </div>
                    <div class="py-3">
                        <!-- <label for="solucionSolicitud">
                            <strong>5. ¿Le dimos solución a tu solicitud?</strong>
                        </label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="solucionSolicitud" id="solucionSolicitudSi" value="True" required>
                            <label class="form-check-label" for="solucionSolicitudSi">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="solucionSolicitud" id="solucionSolicitudNo" value="False">
                            <label class="form-check-label" for="solucionSolicitudNo">No</label>
                        </div>                 -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Finalizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
