{% extends 'encuesta/base/base.html' %}
{% load static %}

{% block main %}
<div class="container my-5">
    <div class="row justify-content-center"> 
        <div class="col-8 col-md-1 col-lg-1"> 
            <img src="{% static 'img/logoSena.png' %}" class="img-fluid" alt="logo">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card mb-4">
                <div class="card-header text-center">
                    Generador de link de encuesta
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombreAgente" class="form-label">Nombre del agente:</label>
                            <input type="text" class="form-control" id="nombreAgente" name="nombreAgente" required>
                        </div>
                        <div class="mb-3">
                            <label for="idInteraccion" class="form-label">ID de interacción:</label>
                            <input type="text" class="form-control" id="idInteraccion" name="idInteraccion" required>
                        </div>
                        <div class="mb-3">
                            <label for="seleccionarCanal" class="form-label">Seleccionar canal:</label>
                            <select class="form-select" id="seleccionarCanal" name="seleccionarCanal" required>
                                <option value="">Seleccionar un canal</option>
                                <option value="WhatsApp">WhatsApp</option>
                                <option value="Facebook">Facebook</option>
                                <option value="Instagram">Instagram</option>
                                <option value="Twitter">Twitter</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Generar Link</button>
                        </div>
                    </form>
                </div>
            </div>

            {% if encuestaLink %}
            <div class="alert alert-success alert-dismissible fade show mt-4 text-center" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <p id="texto_a_copiar" class="mb-0">{{ encuestaLink }}</p>
                <div class="mt-3"> 
                    <button id="boton_copiar" class="btn btn-light">Copiar</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var botonCopiar = document.getElementById('boton_copiar');

        botonCopiar.addEventListener('click', function() {
            var textoACopiar = document.getElementById('texto_a_copiar');

            var campoTemporal = document.createElement('textarea');
            campoTemporal.value = textoACopiar.innerText;

            document.body.appendChild(campoTemporal);
            campoTemporal.select();
            campoTemporal.setSelectionRange(0, 99999);
            document.execCommand('copy');
            document.body.removeChild(campoTemporal);

            Swal.fire({
                position: "center",
                icon: "success",
                title: "El Link fue copiado!",
                showConfirmButton: false,
                timer: 1000
            });
        });
    });
</script>
{% endblock %}
