{% load static %}
<div class="mt-5 footer-container">
    <footer class="footer">
        
        <section class="social-media social-media d-flex justify-content-betweenk">
        
            <div class="me-5">
                <span>Conéctate con nosotros en las redes sociales:</span>
            </div>
            
            <div class="social-icons">
                <a href="https://www.facebook.com/SENA/" class="text-white me-4" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/SENAComunica" class="text-white me-4" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" class="text-white me-4" target="_blank">
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/senacomunica/" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/" class="text-white me-4" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.youtube.com/user/SENATV" class="text-white me-4" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.tiktok.com/@senacomunica_" class="text-white me-4" target="_blank">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://api.whatsapp.com/send/?phone=573168760255&text&app_absent=0" class="text-white me-4" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>    
                <a href="https://chat2-cls55-boc.i6.inconcertcc.com/inconcert/apps/webdesigner/senac2cTs?token=3B7AAB88F1F54997BE80211122ECC564" class="text-white me-4" target="_blank">
                    <i class="fa-solid fa-phone-volume"></i>
                </a> 
            </div>
        </section>
        
        <section class="links py-0">
            <div class="container text-center text-md-start mt-2">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1">
                        <h6 class="text-uppercase fw-bold">SERVICIO NACIONAL DE APRENDIZAJE SENA</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #015dca; height: 2px">
                        <p>
                            El SENA brinda a la ciudadanía, atención presencial en las 33 Regionales y 117 Centros de Formación
                        </p>
                    </div>
                    
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1 footer-list-links">
                        
                        <h6 class="text-uppercase fw-bold">Entidad</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #015dca; height: 2px">
                        <p>
                            <a href="https://www.sena.edu.co/es-co/sena/Paginas/quienesSomos.aspx" class="text-white" target="_blank">Quines somos</a>
                        </p>
                        <p>
                            <a href="https://www.sena.edu.co/es-co/sena/Paginas/objetivosFunciones.aspx" class="text-white" target="_blank" >Funciones y deberes</a>
                        </p>
                        <p>
                            <a href="https://www.sena.edu.co/es-co/sena/Paginas/misionVision.aspx" class="text-white" target="_blank" >Misión y Visión</a>
                        </p>
                        <p>
                            <a href="https://www.sena.edu.co/es-co/sena/Paginas/valores-y-compromisos-institucionales.aspx" class="text-white" target="_blank" >Valores y compromisos</a>
                        </p>
                    </div>
                    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1 footer-list-links">
                        
                        <h6 class="text-uppercase fw-bold">Acerca del sitio</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p>
                            <a href="https://www.sena.edu.co/es-co/Paginas/politicasCondicionesUso.aspx" class="text-white" target="_blank">Términos y condiciones del portal web</a>
                        </p>
                        <p>
                            <a href="https://www.sena.edu.co/es-co/transparencia/Paginas/habeas_data.aspx" class="text-white"target="_blank">Política de Tratamiento para Protección de Datos Personales</a>
                        </p>
                        <p>
                            <a href="https://www.sena.edu.co/es-co/ciudadano/Paginas/Denuncias_Corrupcion.aspx" class="text-white" target="_blank" >Denuncias de actos de corrupción</a>
                        </p>
                    </div>
                    
                    
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1 footer-list-links">
                        
                        <h6 class="text-uppercase fw-bold">Contacto</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p><i class="fas fa-home mr-3"></i> Calle 57 No. 8 - 69 Bogotá D.C.</p>
                        <p><i class="fas fa-envelope mr-3"></i> servicioalciudadano@sena.edu.co </p>
                        <p><i class="fas fa-phone mr-3"></i> Bogotá: +(57) 601 736 60 60</p>
                        <p><i class="fas fa-print mr-3"></i> Nacional: 018000 910270</p>

                        <p><i class="fas fa-star"></i>
                            <a href="{% url 'califica' %}" class="text-white" >Califica tu experiencia</a>
                        </p>
                        <p>
                            <i class="fa-solid fa-headset"></i>
                            <a href="https://ws-boca.inconcertcc.com/sena-callbackv2/static/" class="text-white" target="_blank" >¿Deseas que te contactemos?</a>
                        </p>
                    </div>
                    
                </div>
                
            </div>
        </section>
        
        <div class="copyright text-center p-3 text-light">
            © 2024 Copyright:
            <a class="text-white" href="https://www.iqoutsourcing.com/">IQ Outsourcing</a>
        </div>
        
    </footer>
</div>

