{% load static %}
<div class="footer-container">
    <footer class="footer">
        
        <section class="social-media social-media d-flex justify-content-betweenk">
        
            <div class="me-5">
                <span>Conéctate con nosotros en las redes sociales:</span>
            </div>
            
            <div class="social-icons">
                <a href="#" data-url="https://www.facebook.com/SENA/" class="text-white me-4 social-link abrir-ventana" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" data-url="https://twitter.com/SENAComunica" class="text-white me-4 social-link abrir-ventana" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" data-url="https://www.sena.edu.co/es-co/Paginas/default.aspx" class="text-white me-4 social-link abrir-ventana" title="Google">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" data-url="https://www.instagram.com/senacomunica/" class="text-white me-4 social-link abrir-ventana" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" data-url="https://www.linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/" class="text-white me-4 social-link abrir-ventana" title="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" data-url="https://www.youtube.com/user/SENATV" class="text-white me-4 social-link abrir-ventana" title="YouTube">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="#" data-url="https://www.tiktok.com/@senacomunica_" class="text-white me-4 social-link abrir-ventana" title="TikTok">
                    <i class="fab fa-tiktok"></i>
                </a>   
            </div>
            
        </section>
        
    </footer>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var enlaces = document.querySelectorAll('.abrir-ventana');
    enlaces.forEach(function(enlace) {
        enlace.addEventListener('click', function(event) {
            event.preventDefault(); // Evitar que el enlace cambie la URL
            var url = this.getAttribute('data-url');
            abrirVentanaEmergente(url);
        });
    });

    function abrirVentanaEmergente(url) {
        var width = 800;
        var height = 600;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;

        // Abrir la ventana emergente
        window.open(url, 'ventana_emergente', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
    }
});
</script>
