{% load static %}
<div class="footer-container">
    <footer class="footer">
        
        <section class="social-media social-media d-flex justify-content-betweenk">
        
            <div class="me-5">
                <span>Conéctate con nosotros en las redes sociales:</span>
            </div>
            
            <div class="social-icons">
                <a href="https://www.facebook.com/SENA/" class="text-white me-4" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/SENAComunica" class="text-white me-4" target="_blank" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" class="text-white me-4" target="_blank" title="Google">
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/senacomunica/" class="text-white me-4" target="_blank" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/" class="text-white me-4" target="_blank" title="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.youtube.com/user/SENATV" class="text-white me-4" target="_blank" title="YouTube">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.tiktok.com/@senacomunica_" class="text-white me-4" target="_blank" title="TikTok">
                    <i class="fab fa-tiktok"></i>
                </a>   
            </div>
            
        </section>
        
    </footer>
</div>


