{% load static %}
<header>
    <div class="header-bar py-2 mb-3 fixed-top">
        <div class="container">
            <a href="https://www.gov.co/" target="_blank">
                <img src="{% static 'img/header_govco.png' %}" alt="logo" style="max-height: 20px;">
            </a>
            <div class="float-end">
                <a href="" class="text-light a-none">Inicio de sesión</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row pb-4">
            <div class="col-sm-2">
                <img src="{% static 'img/mintrabajo-logo.png' %}" class="img-fluid" alt="logo">
            </div>
            <div class="offset-sm-9 col-sm-1">
                <img src="{% static 'img/logoSena.png' %}" class="img-fluid" alt="logo">
            </div>
        </div>
    </div>
</header>