{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Bienestar Al Aprendiz
            </a>
            <a href="https://oferta.senasofiaplus.edu.co/sofia-oferta/inscripcion-apoyo-sostenimiento.html" class="list-group-item list-group-item-action " target="_blank">Apoyo Sostenimiento</a>
            <a href="https://www.gov.co/ficha-tramites-y-servicios/T77744" class="list-group-item list-group-item-action" target="_blank">Apoyos De Alimentación</a>
            <a href="https://caprendizaje.sena.edu.co/sgva/SGVA_Diseno/pag/login.aspx" class="list-group-item list-group-item-action" target="_blank">Contrato De Aprendizaje</a>
            <a href="https://ejecuciondelaformacion.sena.edu.co/comunidad-aprendices" class="list-group-item list-group-item-action" target="_blank">Comunidad Aprendiz</a>
        </div>
    </div>
</div>        
{%endblock%}