{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            CAMPESENA
            </a>
            <a href="https://www.sena.edu.co/es-co/campesena/Paginas/index.aspx" class="list-group-item list-group-item-action " target="_blank">Formación</a>
            <a href="https://www.fondoemprender.com/SitePages/senaemprenderural.aspx" class="list-group-item list-group-item-action" target="_blank">Emprendimiento</a>
            <a href="https://www.sena.edu.co/es-co/Noticias/Documents/OFERTA_DE_SERVICIOS_Y_NORMAS_CAMPESENA.pdf" class="list-group-item list-group-item-action" target="_blank">Certificación de Competencias Laborales</a>
            <a href="https://www.sena.edu.co/es-co/formacion/Paginas/agro_sena.aspx" class="list-group-item list-group-item-action" target="_blank">Agrosena</a>
        </div>
    </div>
</div>        
{%endblock%}