{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            CAMPESENA
            </a>
            <a href="{% url 'abrirUrl' 'Formación' 'https://www.sena.edu.co/es-co/campesena/Paginas/index.aspx'|base64encode %}" class="list-group-item list-group-item-action " target="_blank">Formación</a>
            <a href="{% url 'abrirUrl' 'Emprendimiento' 'https://www.fondoemprender.com/SitePages/senaemprenderural.aspx'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Emprendimiento</a>
            <a href="{% url 'abrirUrl' 'Certificación de Competencias Laborales' 'https://www.sena.edu.co/es-co/Noticias/Documents/OFERTA_DE_SERVICIOS_Y_NORMAS_CAMPESENA.pdf'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Certificación de Competencias Laborales</a>
            <a href="{% url 'abrirUrl' 'Agrosena' 'https://www.sena.edu.co/es-co/formacion/Paginas/agro_sena.aspx'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Agrosena</a>
        </div>
    </div>
    {% include 'base/components/botonAtras.html' %}
</div> 
<script>
        
    let tiempoInactividad = 30000; 
    let temporizadorInactivo;

    function reiniciarTemporizador() {
        clearTimeout(temporizadorInactivo);
        temporizadorInactivo = setTimeout(redirigirAlIndex, tiempoInactividad);
    }

    function redirigirAlIndex() {
        window.location.href = "{% url 'index' %}";
    }

    document.addEventListener("DOMContentLoaded", function () {
        reiniciarTemporizador();
        document.addEventListener("mousemove", reiniciarTemporizador);
        document.addEventListener("keydown", reiniciarTemporizador);
        document.addEventListener("click", reiniciarTemporizador);
    });
</script>       
{%endblock%}

