{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
    <section class="contact-section position-relative min-vh-100">
        <header class="header-banner position-absolute w-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="fw-bold mb-4">Centro de Contacto</h1>
                    </div>
                    <div class="col text-end">
                        <img src="{% static 'img/logoSena.png' %}" alt="Logo SENA" class="logo-senaCatencion">
                    </div>
                </div>
            </div>
        </header>
        <div class="container position-relative">
            <div class="row w-100 justify-content-center">
                <div class="col-md-10 text-center text-md-start">
                    <div class="d-flex flex-column gap-3">
                        <a href="#" 
                            data-url="{% url 'abrirUrl' 'Llámanos' 'https://chat1-cls55-boc.i6.inconcertcc.com/inconcert/apps/webdesigner/KioskoC2C?token=61243A17D661DCBEE85F7A83CB60CC91'|base64encode %}" class="text-decoration-none abrir-ventana" aria-label="Llámanos">
                            <div class="option-card-contact d-flex align-items-center justify-content-between px-4 py-2">
                                <span class="fw-bold">Llámanos</span>
                                <img src="{% static 'img/phone.png' %}" alt="Teléfono" class="icono-contacto">
                            </div>
                        </a>
                        <a href="#" data-url="{% url 'abrirUrl' 'Clic para llamarte' 'https://api-0338d.inconcertcc.com/sena-callbackv4/static/'|base64encode %}" class="text-decoration-none abrir-ventana" aria-label="Clic para llamarte">
                            <div class="option-card-contact d-flex align-items-center justify-content-between px-4 py-2">
                                <span class="fw-bold">Clic para llamarte</span>
                                <img src="{% static 'img/headset.png' %}" alt="Headset" class="icono-contacto">
                            </div>
                        </a>
                        <a href="{% url 'abrirUrl' 'Whatsapp' 'enviar_sms'|base64encode %}" class="text-decoration-none" aria-label="WhatsApp">
                            <div class="option-card-contact d-flex align-items-center justify-content-between px-4 py-2">
                                <span class="fw-bold">WhatsApp</span>
                                <img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp" class="icono-contacto">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'base/components/botonAtras.html' %}
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.abrir-ventana').forEach(function(enlace) {
            enlace.addEventListener('click', function(event) {
            event.preventDefault();
            var url = this.getAttribute('data-url');
            abrirVentanaEmergente(url);
            });
        });
        function abrirVentanaEmergente(url) {
            var width = 1400,
                height = 1400,
                left = (screen.width / 2) + ((screen.width / 2 - width) / 2);
                top = (screen.height - height) / 2;
            window.open(url, 'ventana_emergente', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
        }
        });
    </script>

    <script>
        let tiempoInactividad = 300000; // 5 minutos
        let temporizadorInactivo;
        function reiniciarTemporizador() {
        clearTimeout(temporizadorInactivo);
        temporizadorInactivo = setTimeout(redirigirAlIndex, tiempoInactividad);
        }
        function redirigirAlIndex() {
        window.location.href = "{% url 'cerrarSesion' %}";
        }
        document.addEventListener("DOMContentLoaded", function () {
        reiniciarTemporizador();
        document.addEventListener("mousemove", reiniciarTemporizador);
        document.addEventListener("keydown", reiniciarTemporizador);
        document.addEventListener("click", reiniciarTemporizador);
        });
    </script>
{% endblock %}
