{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Empresarios
            </a>
            <a href="{% url 'abrirUrl' 'Empresarios' 'https://www.sena.edu.co/es-co/Empresarios/Paginas/default.aspx'|base64encode %}" class="list-group-item list-group-item-action " target="_blank">Empresarios</a>
            <a href="{% url 'abrirUrl' 'Portal Autogestión' 'https://autogestionprd.powerappsportals.com/SignIn?ReturnUrl=%2F'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Portal Autogestión</a>
            <a href="{% url 'abrirUrl' 'Certificados Aportes Y Fic' 'https://certificadoempresarios.sena.edu.co/index.php/auth/login#no'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Certificados Aportes Y Fic</a>
            <a href="{% url 'abrirUrl' 'Facilidad de Pago' 'https://certificadoempresarios.sena.edu.co/index.php/auth/login#no'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Facilidad de Pago</a>
        </div>
    </div>
    {% include 'base/components/botonAtras.html' %}
</div> 
<script>
        
    let tiempoInactividad = 30000; 
    let temporizadorInactivo;

    function reiniciarTemporizador() {
        clearTimeout(temporizadorInactivo);
        temporizadorInactivo = setTimeout(redirigirAlIndex, tiempoInactividad);
    }

    function redirigirAlIndex() {
        window.location.href = "{% url 'index' %}";
    }

    document.addEventListener("DOMContentLoaded", function () {
        reiniciarTemporizador();
        document.addEventListener("mousemove", reiniciarTemporizador);
        document.addEventListener("keydown", reiniciarTemporizador);
        document.addEventListener("click", reiniciarTemporizador);
    });
</script>       
{%endblock%}


