{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Emprendimiento
            </a>
            <a href="{% url 'abrirUrl' 'Asesoria Creación Empresa' 'https://ape.sena.edu.co/spe-web/spe/registro/buscador#'|base64encode %}" class="list-group-item list-group-item-action " target="_blank">Asesoria Creación Empresa</a>
            <a href="{% url 'abrirUrl' 'Fortalecimiento Empresarial' 'https://www.fondoemprender.com/SitePages/FortalecimientoEmpresarial.aspx'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Fortalecimiento Empresarial</a>
            <a href="{% url 'abrirUrl' 'SER (Sena Emprende Rural)' 'https://www.fondoemprender.com/SitePages/senaemprenderural.aspx'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">SER (Sena Emprende Rural)</a>
            <a href="{% url 'abrirUrl' 'Fondo Emprender' 'https://www.fondoemprender.com/SitePages/FondoEmprender.aspx'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Fondo Emprender</a>
        </div>
    </div>
    {% include 'base/components/botonAtras.html' %}
</div>
<script>
        
    let tiempoInactividad = 30000; 
    let temporizadorInactivo;

    function reiniciarTemporizador() {
        clearTimeout(temporizadorInactivo);
        temporizadorInactivo = setTimeout(redirigirAlIndex, tiempoInactividad);
    }

    function redirigirAlIndex() {
        window.location.href = "{% url 'index' %}";
    }

    document.addEventListener("DOMContentLoaded", function () {
        reiniciarTemporizador();
        document.addEventListener("mousemove", reiniciarTemporizador);
        document.addEventListener("keydown", reiniciarTemporizador);
        document.addEventListener("click", reiniciarTemporizador);
    });
</script>
{%endblock%}

