{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Emprendimiento
            </a>
            <a href="{% url 'abrirUrl' 'Asesoria Creación Empresa' 'https://ape.sena.edu.co/spe-web/spe/registro/buscador#' %}" class="list-group-item list-group-item-action " target="_blank">Asesoria Creación Empresa</a>
            <a href="{% url 'abrirUrl' 'Fortalecimiento Empresarial' 'https://www.fondoemprender.com/SitePages/FortalecimientoEmpresarial.aspx' %}" class="list-group-item list-group-item-action" target="_blank">Fortalecimiento Empresarial</a>
            <a href="{% url 'abrirUrl' 'SER (Sena Emprende Rural)' 'https://www.fondoemprender.com/SitePages/senaemprenderural.aspx' %}" class="list-group-item list-group-item-action" target="_blank">SER (Sena Emprende Rural)</a>
            <a href="{% url 'abrirUrl' 'Fondo Emprender' 'https://www.fondoemprender.com/SitePages/FondoEmprender.aspx' %}" class="list-group-item list-group-item-action" target="_blank">Fondo Emprender</a>
        </div>
    </div>
    {% include 'base/components/botonAtras.html' %}
</div>

{%endblock%}

