{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Formación para el trabajo
            </a>
            <a href="https://oferta.senasofiaplus.edu.co/sofia-oferta/" class="list-group-item list-group-item-action " target="_blank">Formación Titulada</a>
            <a href="https://www.sena.edu.co/es-co/formacion/Paginas/articulacionMedia.aspx" class="list-group-item list-group-item-action" target="_blank">Articulación Con La Media Tecnica</a>
            <a href="https://certificados.sena.edu.co/CertificadoDigital/com.sena.consultacer" class="list-group-item list-group-item-action" target="_blank">Certificados De Formación</a>
            <a href="https://ejecuciondelaformacion.sena.edu.co/cursos-cortos" class="list-group-item list-group-item-action" target="_blank">Formación Complementaria</a>
            <a href="https://www.sena.edu.co/es-co/formacion/Paginas/tecnoacademia.aspx" class="list-group-item list-group-item-action" target="_blank">Tecnoacademias</a>
            <a href="https://sena.territorio.la/cms/index.php/ingles" class="list-group-item list-group-item-action" target="_blank">Bilingüismo</a>
            <a href="https://sena.territorio.la/cms/index.php/titulada" class="list-group-item list-group-item-action" target="_blank">Formación Titulada Virtual</a>
        </div>
    </div>
</div>

{%endblock%}


