{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
                Gestión para el Empleo Sena
            </a>
            <a href="#" data-url="{% url 'abrirUrl' 'Tramite de Inscripción Hoja de Vida' 'https://ape.sena.edu.co/spe-web/spe/login'|base64encode %}" class="list-group-item list-group-item-action abrir-ventana" target="_blank">Tramite de Inscripción Hoja de Vida</a>
            <a href="#" data-url="{% url 'abrirUrl' 'Consecución Empleo' 'https://ape.sena.edu.co/spe-web/spe/login'|base64encode %}" class="list-group-item list-group-item-action abrir-ventana" target="_blank">Consecución Empleo</a>
            <a href="#" data-url="{% url 'abrirUrl' 'Formación-Cualificación' 'https://ape.sena.edu.co/spe-web/spe/login'|base64encode %}" class="list-group-item list-group-item-action abrir-ventana" target="_blank">Formación-Cualificación</a>
        </div>
    </div>
    {% include 'base/components/botonAtras.html' %}
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var enlaces = document.querySelectorAll('.abrir-ventana');
    enlaces.forEach(function(enlace) {
        enlace.addEventListener('click', function(event) {
            event.preventDefault(); 
            var url = this.getAttribute('data-url');
            abrirVentanaEmergente(url);
        });
    });

    function abrirVentanaEmergente(url) {
        var width = 800;
        var height = 600;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;
        window.open(url, 'ventana_emergente', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
    }
});
</script>

<script>
        
    let tiempoInactividad = 30000; 
    let temporizadorInactivo;

    function reiniciarTemporizador() {
        clearTimeout(temporizadorInactivo);
        temporizadorInactivo = setTimeout(redirigirAlIndex, tiempoInactividad);
    }

    function redirigirAlIndex() {
        window.location.href = "{% url 'index' %}";
    }

    document.addEventListener("DOMContentLoaded", function () {
        reiniciarTemporizador();
        document.addEventListener("mousemove", reiniciarTemporizador);
        document.addEventListener("keydown", reiniciarTemporizador);
        document.addEventListener("click", reiniciarTemporizador);
    });
</script>
{%endblock%}



