{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Gestión para el Empleo Sena
            </a>
            <a href="https://ape.sena.edu.co/spe-web/spe/registro/buscador#" class="list-group-item list-group-item-action " target="_blank">Tramite de Inscripción Hoja de Vida</a>
            <a href="https://agenciapublicadeempleo.sena.edu.co/Paginas/APEVieja.aspx" class="list-group-item list-group-item-action" target="_blank">Consecución Empleo</a>
            <a href="" class="list-group-item list-group-item-action" target="_blank">Formación-Cualificación</a>
        </div>
    </div>
</div>
{%endblock%}