{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
<section class="kiosk-section position-relative min-vh-100">
    <header class="header-banner position-absolute w-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto mt-5">
                    <h1 class="fw-bold text-1">QUIOSCO AUTOCONSULTA</h1>
                </div>
                <div class="col text-end">
                    <img src="{% static 'img/logoSena.png' %}" alt="Logo SENA" class="logo-sena">
                </div>
            </div>
        </div>
    </header>
    <div class="content-container">    </div>
    
    <div class="continue-container">
        <a href="{% url 'RegistroUser' %}" class="btn btn-continue">
            Continuar <i class="fas fa-arrow-right ms-2"></i>
        </a>
    </div>
</section>
{% endblock %}