{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    <div class="row animate__animated animate__fadeIn">
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'abrirUrl' 'Lenguaje de señas' 'https://chat2-cls55-boc.i6.inconcertcc.com/inconcert/apps/webdesigner/senawebTs?token=727066304B0F6D1C8BA8A82A5483A073' %}" class="a-none" target="_blank">
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-hands-asl-interpreting fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Lenguaje de señas
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'formajob' %}" class="a-none">
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-graduation-cap fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Formación para el trabajo
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'gesples' %}" class="a-none">
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-business-time fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Gestión para el empleo Sena
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'cercom' %}" class="a-none">
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-file-circle-check fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Certificación de competencias
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'setroc' %}" class="a-none">
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-microchip fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Senatronica
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'abrirUrl' 'CampeSENA' 'CampeSENA' %}" class="a-none" >
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        
                        <img src="{% static 'img/campesena_logo2.png' %}" class="" height="81px" alt="logo">
                    </div>
                    <div class="card-footer text-bg-success">
                        CampeSENA
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'enrural' %}" class="a-none">
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-regular fa-lightbulb fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Emprendimiento emprende rural
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'abrirUrl' 'Bienestar al aprendiz' 'Bienestar' %}" class="a-none" >
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-heart-pulse fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Bienestar al aprendiz
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'abrirUrl' 'Otros servicios' 'Servicios' %}" class="a-none" >
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-hand-holding-heart fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Otros servicios
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'abrirUrl' 'Empresarios' 'Empresarios' %}" class="a-none" >
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-users fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Empresarios
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'abrirUrl' 'PQRS' 'Pqr' %}" class="a-none" >
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-solid fa-headset fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        PQRS
                    </div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'abrirUrl' 'Sala de Prensa' 'https://www.sena.edu.co/es-co/Noticias/Paginas/default.aspx' %}" class="a-none" target="_blank">
                <div class="card border-success card-link">
                    <div class="card-body rounded-top text-center py-4">
                        <i class="fa-regular fa-comments fa-5x text-secondary"></i>
                    </div>
                    <div class="card-footer text-bg-success">
                        Sala de Prensa
                    </div>
                </div>
            </a>
        </div>

    </div>


{% endblock %}