{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            PQRS
            </a>
            <a href="https://sciudadanos.sena.edu.co/wausuarios.aspx" class="list-group-item list-group-item-action " target="_blank">Radicar</a>
            <a href="https://sciudadanos.sena.edu.co/waconsultaopciones.aspx" class="list-group-item list-group-item-action" target="_blank">Consultar</a>
            <a href="https://www.sena.edu.co/es-co/ciudadano/Paginas/Denuncias_Corrupcion.aspx" class="list-group-item list-group-item-action" target="_blank">Denuncias</a>
        </div>
    </div>
    {% include 'base/components/botonAtras.html' %}
</div>
<script>
        
    let tiempoInactividad = 30000; 
    let temporizadorInactivo;

    function reiniciarTemporizador() {
        clearTimeout(temporizadorInactivo);
        temporizadorInactivo = setTimeout(redirigirAlIndex, tiempoInactividad);
    }

    function redirigirAlIndex() {
        window.location.href = "{% url 'index' %}";
    }

    document.addEventListener("DOMContentLoaded", function () {
        reiniciarTemporizador();
        document.addEventListener("mousemove", reiniciarTemporizador);
        document.addEventListener("keydown", reiniciarTemporizador);
        document.addEventListener("click", reiniciarTemporizador);
    });
</script>        
{%endblock%}