{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="list-group" >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Servicios
            </a>
            <a href="{% url 'abrirUrl' 'Aulas Moviles' 'https://www.sena.edu.co/es-co/formacion/Paginas/aulasMoviles.aspx'|base64encode %}" class="list-group-item list-group-item-action " target="_blank">Aulas Moviles</a>
            <a href="{% url 'abrirUrl' 'Sennova' 'http://sennova.senaedu.edu.co/'|base64encode %}" class="list-group-item list-group-item-action" target="_blank">Sennova</a>
        </div>
    </div>
    {% include 'base/components/botonAtras.html' %}
</div>        
{%endblock%}


