{% extends 'base/base.html' %}
{% load static %}
{% block main %}
<div class="row">
    <div class="offset-lg-2 col-lg-8">
        <div class="list-group " >
            <a class="list-group-item list-group-item-action active" aria-current="true" style='background-color:#00af00; '>
            Senatronica
            </a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action " target="_blank">Certificados y Constancias Académicas</a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action" target="_blank">Consulta de Certificados de Competencia Laboral</a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action" target="_blank">Consulta Virtual de Perfiles y Aspirantes para Contrato de Aprendizaje</a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action" target="_blank">Evaluación y Certificación de Competencias Laborales</a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action" target="_blank">Inscripción, Selección y Matrícula de Aspirantes a Programas de Formación Profesional</a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action" target="_blank">Certificado Aportes Parafiscales y Fondo de Industria y la Construcción-FIC </a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action" target="_blank">Solicitud de Trámite Académico o Administrativo del Aprendiz SENA Durante su Proceso Formativo </a>
            <a href="https://sedeelectronica.sena.edu.co/Paginas/InicioSesion.aspx" class="list-group-item list-group-item-action" target="_blank">Cartelera de Vacantes de la Agencia Pública de Empleo</a>
        </div>

    </div>
</div>
{%endblock%}